<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Blog :: Login</title>
    <link th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" th:rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1>Spring Boot Blog Application</h1>
    <hr/>
    <a th:href="@{/}">Home</a>
    <h2>Login</h2>
    <form action="#"
          method="POST"
          th:action="@{/login}">
        <div>
            <label for="email">Email</label>
            <input id="email" name="email" placeholder="Email" type="text"/>
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" name="password" placeholder="Password" type="password"/>
        </div>
        <button type="submit">Login!</button>
    </form>
</div>

</body>
</html>