<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Blog :: New Post</title>
    <link th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" th:rel="stylesheet"/>
</head>
<body>
<div class="container">
    <a th:href="@{/}">Home</a>
    <form action="#"
          enctype="multipart/form-data"
          method="post"
          th:action="@{'/posts/new'}"
          th:object="${post}">
        <input th:field="*{createdAt}" type="hidden"/>
        <h2>Write new Post</h2>
        <img class="img-fluid" height="200px" th:src="@{'/images/' + *{imageFilePath}}"/>
        <div>
            <input accept="image/png, image/jpeg, image/jpg, image/bmp" class="btn btn-outline-info" id="input-file"
                   name="file"
                   type="file"/>
        </div>
        <div>
            <label for="new-post-title">Title</label>
            <input id="new-post-title" placeholder="Title" th:field="*{title}" type="text"/>
        </div>
        <div>
            <label for="new-post-body">Body</label>
            <textarea id="new-post-body" th:field="*{body}"></textarea>
        </div>
        <button type="submit">Publish Post</button>
    </form>
</div>

</body>
</html>
