<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Blog :: Register</title>
    <link th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" th:rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1>Spring Boot Blog Application</h1>
    <hr/>
    <a th:href="@{/}">Home</a>
    <h2>Register New Account</h2>
    <form action="#"
          method="POST"
          th:action="@{/register}"
          th:object="${account}">
        <div>
            <label for="firstname">First Name</label>
            <input id="firstname" placeholder="First Name" th:field="*{firstName}" type="text"/>
        </div>
        <div>
            <label for="lastname">Last Name</label>
            <input id="lastname" placeholder="Last Name" th:field="*{lastName}" type="text"/>
        </div>
        <div>
            <label for="email">Email</label>
            <input id="email" placeholder="Email" th:field="*{email}" type="text"/>
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" placeholder="Password" th:field="*{password}" type="password"/>
        </div>
        <button type="submit">Register!</button>
    </form>
</div>

</body>
</html>